/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }



// .btn-treehouse {
//   color: white;
//   height: 35px;
//   padding: 5px 10px;
//   border-radius: 4px;
//   font-weight: bold;
//   background: #3079ab;
//   transition: background 0.3s ease;
// }
// .btn-treehouse:hover {
//   opacity: 1;
//   border-color: #1f5768;
//   background: #1f5768;
//   text-decoration: none;
//   color: white;
// }


#search {
    color: black;
}

.banner-form {
  margin-top: 30px;
  padding: 5px 10px;
}

.wrapper-grey {
  background: #f7f2f2;
  padding: 30px 0;
}

.card-text {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e0d5d5;
  padding: 30px 10px;
  background: white;
  box-shadow: 10px;
  border-radius: 20px;
  transition: background 0.3s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.card-text h3 {
  font-size: 20px;
  // font-weight: lighter;
  color: blue;
  margin-bottom: 30px;
}

.card-text li {
  font-size: 14px;
}

.card-text p {
  line-height: 200%;
  font-size: 15px;
}

.image-card {
  text-align: center;
  height: 18%;
  margin-bottom: 30px;
}

.presentation-site-card {
  background-color: white;
  padding: 10px;
}

//Image de présentations du site

.image-site {
  text-align: center;
}

.wrapper-blue {
  background: lighter;
  background-color: #f7f2f2;
  padding: 30px 0;
}


//

#title {
  margin-bottom: 30px;
}

#search-form {
  text-align: center;

}

//

.text-volets {
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #e0d5d5;
  background: white;
  box-shadow: 10px;
  border-radius: 20px;
  transition: background 0.3s ease;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;

  p {
    line-height: 200%;
    font-size: 15px;
  }

  li {
    line-height: 200%;
    font-size: 15px;
  }
}
