.booking-content {
  content: center;

}

.boat-bookings-card {
  position: relative;
  border: dashed;
  padding: 30px;
}

.boat-infos {
  position:absolute;
  left:10px;
}

.check-green {
  color: green;
  font-size: 30px;
  text-position: center;
}

.check-red {
  color:red;
  font-size: 30px;
  text-position: center;
}
