<div class="footer">
  <div class="footer-left list-inline">
    <ul class="list-inline">
      <li>
        <%= link_to root_path, class: "footer-fishing_buddy-brand" do %>
            <%= image_tag "logo.png" %>
        <% end %>
      </li>
      <li> <p>© Fishing Buddy, Inc.</p> </li>
    </ul>
  </div>
  <div class="footer-right list-inline">
    <ul class="list-inline">
      <li><a class="link-footer" href="#">Terms &amp; Privacy</a></li>
      <li><a class="link-footer" href="#">Site Map</a></li>
      <li><a class="link-footer fa" href="#">
        <i class="fa fa-facebook"></i>
      </a></li>
      <li><a class="link-footer fa" href="#">
        <i class="fa fa-twitter"></i>
      </a></li>
      <li><a class="link-footer fa" href="#">
        <i class="fa fa-instagram"></i>
      </a></li>
      <li><a class="link-footer fa" href="#">
        <i class="fa fa-youtube"></i>
      </a></li>
    </ul>
  </div>
</div>
