<div class="footer">
  <div class="footer-left list-inline">
    <ul class="list-inline">
      <li>
        <%= link_to root_path, class: "footer-fishing_buddy-brand" do %>
            <%= image_tag "fisherman.svg" %>
        <% end %>
      </li>
      <li> <p>© Au bord de l'eau</p> </li>
    </ul>
  </div>
  <div class="footer-right list-inline center">
    <ul class="list-inline">
      <li><a class="link-footer" href="#">Termes &amp; CGU</a></li>
      <li><a class="link-footer" href="#">Site Map</a></li>
      <li><a class="link-footer fa" href="https://www.facebook.com/auborddeleau.org/">
        <i class="fa fa-facebook"></i>
      </a></li>
      <li><a class="link-footer fa" href="https://twitter.com/au_bord_deleau">
        <i class="fa fa-twitter"></i>
      </a></li>

    </ul>
  </div>
</div>
