<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">Participer au projet </h1>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Qui sommes-nous ?</h3>
          <p>Nous sommes des passionnés de pêche mais aussi d'environnement qui travaillons dans le journalisme et la communication digitale, nous souhaitons apporter nos compétences à notre passion</p>
          <br>
           <div class="row">
             <div class="col-xs-12 col-md-4">
               <p>Paul</p>
             </div>
             <div class="col-xs-12 col-md-4">
               <p>Nicolas</p>
             </div>
             <div class="col-xs-12 col-md-4">
               <p>Edouard</p>
             </div>
           </div>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Rejoindre le projet / Nous soutenir</h3>
          <p>Le projet vous intéresse ?</p>
          <p>Vous avez des questions, des conseils ?</p>
          <p>Vous voulez nous rejoindre ? </p>
          <p>Nous sommes à la recherche de tout ça !</p>
          <h3 class="title-text">Nous contacter par mail ou téléphone</h3>
        </div>
      </div>
    </div>
  </div>
</div>

