<div class="wrapper-grey">
  <div class="container">
    <div class="text-pages">

      <div class="row">
        <h3 class="title-text">Qui sommes-nous ?</h3>
        <br>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <%= image_tag "Portrait_Edouard.jpg", class:"avatar-large" %>
          <p class="text-center"><strong>Edouard Castaignet</strong></p>
          <p class="text-center">Président</p>
          <p class="text-center">Création du site</p>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <%= image_tag "nico.jpg", class:"avatar-large" %>
          <p class="text-center"><strong>Nicolas Sivan</strong></p>
          <p class="text-center">Trésorier</p>
          <p class="text-center">Appel des acteurs</p>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <%= image_tag "paul.jpg", class:"avatar-large" %>
          <p class="text-center"><strong>Paul Grisot</strong></p>
          <p class="text-center">Secrétaire</p>
          <p class="text-center">Communication</p>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-12">
          <h1 class="title-page text-center">Soutenez-nous ! </h1>

          <p class="text-justify">A l’origine de ce projet, trois amis juste trentenaires : Edouard, Nicolas et Paul. Après des années passées au bord de l’eau, nous avons constaté qu’il y a encore beaucoup à faire pour préserver l’environnement dans lequel nous pratiquons notre passion. Sensibles aux questions environnementales, nous avons constaté que de nombreux acteurs travaillent chaque jour à changer cet état de fait mais manquent de visibilité et d’attractivité.</p>

          <p class="text-justify">De par nos métiers respectifs, dans le journalisme en presse régionale, en presse web et dans l’entreprenariat Web, nous constatons au quotidien la puissance de réseaux sociaux et des plateformes collaboratives. Nous avons pensé qu’on pouvait les mettre au service du rassemblement d’une communauté, ici les pêcheurs, autour d’une cause commune : la protection de l’environnement où ils pratiquent leur passion.</p>

          <p class="text-justify">Nous avons lancé le projet "Au bord de l'eau" en 2017 et nous concourrons aujourd'hui à l'appel à projet <%= link_to "Mon projet pour la planète", "https://www.monprojetpourlaplanete.gouv.fr/" %></p>

          <p class="text-justify">Le projet vous intéresse ? Vous avez des questions, des conseils ? Vous voulez nous rejoindre ou nous aider ?</p>

          <p>Notre mail : <strong>contact@au-bord-de-leau.org</strong></p>

          <p>Nous suivre sur facebook :</p>
          <div class="fb-like" data-href="https://www.facebook.com/auborddeleau.org/?fref=ts" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

          <p>Nous suivre sur twitter :</p>
          <a class="twitter-follow-button"
            href="https://twitter.com/au_bord_deleau"
            data-show-count="false">
            Follow @TwitterDev
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=280300842435044";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
