<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">Participer au projet </h1>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Qui sommes-nous ?</h3>
          <br>
          <p>Nous sommes trois amis passionnés de pêche.</p>
          <ul>
            <li>Paul Grisot</li>
            <li>Nicolas Sivan</li>
            <li>Edouard Castaignet</li>
          </ul>
        </div>

        <br>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Nous suivre</h3>
          <br>
          <p>Vous pouvez nous suivre sur Facebook ou sur Twitter.</p>
          <br>
          <div class="share-links">
            <a href="https://www.facebook.com/auborddeleau.org/" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/au_bord_deleau" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>

          <br>

          <div class="col-xs-12-col-md-6-col-lg-6">
            <h3 class="title-text">Nous rejoindre/Nous contacter</h3>
            <br>
            <p>Le projet vous intéresse ? Vous avez des questions, des conseils ? Vous voulez nous rejoindre ou nous aider ? </p>
            <br>
            <p>par mail : ecastaignet@hotmail.com ou nsivan@gmail.com</p>
            <br>
            <p>par téléphone : Edouard (06 18 42 32 40) </p>
          </div>

          <br>

       <!--  <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Ils nous soutiennent</h5>
          <ul>
            <li>Michael Martin, Guide de pêche</li>
          </ul>
        </div>
 -->
      </div>
    </div>
  </div>
</div>

