<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Le projet d'associationen en bref </h1>

        <p> Notre objectif est de créer une association regroupant les acteurs suivants : paragraphe d'introduction </p>

        <h2>Valeurs</h2>
        <p>L’association s’appuie sur une charte de valeurs que l’ensemble de ses membres actifs, incluant les éco-citoyens et les personnes morales porteuses de projet, acceptent de signer lors de leur inscription sur le site (inscription obligatoire ou non pour les éco-citoyen selon le cadre de la responsabilité juridique). Cette charte s’appuie sur trois piliers :</p>

        <h3>1. Une nécessaire représentativité</h3>
        <p>L’association doit dans son fonctionnement même garantir la représentativité des différents organismes et personnes la composant. Cette représentativité est d’abord assurée par le nombre de places réservées à chaque type de membre dans le conseil d’administration de l’entreprise. Cette diversité des points de vue permet de défendre les intérêts de chacune des composantes essentielles du projet. Les pouvoirs publics et leurs représentant, les entités privées et enfin les personnes privées en tant qu’éco-citoyens. </p>

        <p>La constitution de l’association en loi 1901 permet également d’assurer une neutralité dont la charte est la garante. L’objectif de l’association est déterminé par sa charte et non pas par les entités extérieures la composant ce qui permet d’assurer sa pérennité. </p>


        <h3>2. Une ouverture d’esprit</h3>
        <p>La démarche entreprise ne peut être un succès que si ses membres partagent un sentiment d’ouverture vers l’autre permettant de dépasser les différences d’opinions. Ce dépassement est rendu possible par la poursuite d’un idéal commun portant sur la portée concrète de l’action entreprise.</p>

        <h3>3. Inspirer la confiance par la transparence</h3>
        <p>Un tel projet ne peut être mené qu’avec la confiance de tous. Comme il est le fruit d’une collaboration pour préserver un bien commun partagé par tous, l’environnement, son fonctionnement doit en être le reflet. Pour cela, la gouvernance de l’association est composée d’un conseil d’administration représentant la diversité des acteurs du projet et les PV de l’AG seront publics, voir l’AG peut être publique ouverte aux membres de l’association. </p>
        <p>La transparence permet également un contrôle de l’ensemble des membres et donc d’assurer un bon fonctionnement au projet.</p>

        <h3>4. L’unité comme garantie d’actions écologiques positives </h3>
        <p>L’objectif est de favoriser l’adhérence du plus grand nombre à l’écologie et de favoriser le rapprochement entre les différents acteurs qui œuvrent pour l’environnement. La démarche doit donc préserver l’unité de l’ensemble de ses membres, grâce aux valeurs de la charte présentes dans chacun des chantiers écologiques disponibles sur le site. Toutes les personnes morales, qu’elles soient publiques ou privées, peuvent s’inscrire et demander à ce que leurs actions soient référencées, à condition qu’elles rentrent dans le cadre de l’écologie positive : c’est-à-dire celui d’une action concrète et fédératrice, qui suscite l’adhésion et non le rejet ou la contestation, et qui s’inscrit dans la convergence d’une société écologique.
        </p>

        <h2>Une gouvernance garantie par une charte</h2>
        <p>Préambule : Conscients que la préservation de l’environnement doit être l’affaire de tous, que son développement passe par une collaboration plus forte entre les différentes composantes de la société, réaffirmant notre attachement à l’introduction en 2004 de la charte de l’environnement dans la constitution du 4 octobre 1958 et déclarant que cette communauté ne peut vivre qu’autour d’un socle de valeurs communes.

        Résolus
        • à préserver la biodiversité grâce à l’éco-mobilisation,
        • à favoriser la transversalité écologique par l’essor d’actions
        • à sensibiliser et informer les citoyens afin de transmettre ce bien commun aux générations futures,

        Partageant les valeurs
        • de diversité dans la représentativité des acteurs de l’écologie,
        • d’ouverture d’esprit et de bienveillance à l’égard des autres,
        • de la transparence, garante d’une confiance pérenne et d’un fonctionnement efficace,
        • d’unité, seule qualité permettant une action positive,

        Avons décidé d'associer nos efforts pour réaliser ces desseins
        • en joignant le projet d’association,
        • en favorisant l’essor et la mise en valeur des projets mis en ligne,
        • en inspirant et en incitant l’ensemble des citoyens à s’engager à faire de même,

        En conséquence, nous adoptons la présente Charte et nous nous associons comme membres à l’association XXX.</p>
     </div>
    </div>
  </div>
</div>
