<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">Le projet d'association</h1>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Création de l'association</h3>

          <h5 class="title-text">Consultation des acteurs</h5>
          <p>Nous sommes actuellement en phase de consulation afin de présenter le projet au maximum d'acteurs concernés :</p>
          <ul>
            <li>Les Fédérations Départementales de Pêche et de Protection du Milieu Aquatique</li>
            <li>Les Aappma</li>
            <li>Les associations de défense de l'environnement</li>
            <li>L'agence française pour la biodiversité</li>
            <li>Les ministères de la pêche et de l'environnement</li>
          </ul>
          <p>Notre objectif est de bien définir les besoins de chacun afin que toutes les parties puissent tirer bénéfice du projet.</p>

          <h5 class="title-text">Constitution de l'équipe</h5>
          <p>Nous cherchons des personnes motivées venant de divers milieux afin de nous aider à constituer une petite équipe de travail pour porter le projet</p>
          <h5 class="title-text">Calendrier</h5>
          <br>
            <li><strong>Mai 2017_Juin 2017</strong> => Echanges avec les différents acteurs pour définir le projet</li>
            <p></p>
            <li><strong>Juin 2017_Décembre 2017</strong> => Constitution de l'équipe et recherche des financements</li>
            <p></p>
            <li><strong>Janvier 2018_Mars 2018</strong> => Création de l'association et du site internet</li>
            <p></p>
            <li><strong>Avril 2018</strong> => Lancement du site et campagne de communication</li>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Objectifs</h3>

          <h5 class="title-text">Favoriser l’éco-mobilisation autour du partage d’une passion</h5>
          <p>Notre premier objectif est d'amener le plus grand nombre de pêcheurs à passer à l'action dans la préservation du milieu qui constitue le socle de leur loisir. Le modèle collaboratif et ouvert de la plate-forme "Au bord de l'eau" permet d'inclure le plus grand nombre en regroupant toutes les initiatives et en les rendant facilement accessibles à chacun.  </p>

          <h5 class="title-text">Favoriser la coopération entre les acteurs</h5>
          <p>Le second objectif est de favoriser une collaboration entre les différents acteurs (APPMA, fédérations, AFB) et notamment la co-construction de projets. Notre objectif est d’amorcer une transversalité entre les différentes démarches écologiques (mise en commun de moyens, de connaissances et de ressources) afin de permettre l'émergence de projets toujours plus ambitieux.</p>
          <h5 class="title-text">Sensibiliser, informer, éduquer le plus grand nombre</h5>
          <p>Le troisième objectif est de faire de notre communauté des pêcheurs un relais fort et vivant dans la prise de conscience de la préservation de l'environnement.</p>
          <p>Forte d'un maillage associatif puissant, d'une communauté nombreuse, diversifiée et intergénérationnelle, témoin privilégiée de l'impact des activités humaines, la pêche de loisir se doit d'être en première ligne pour contribuer à faire de chacun les éco-citoyens de demain.</p>
          <p>Une coopération avec le Ministère de l’éducation nationale pourrait être proposée afin d’inciter des classes de collèges ou de lycée à choisir de participer à des actions écologiques menées dans leur département ou dans leur région.</p>
        </div>



        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Philosophie</h3>
          <h5 class="title-text">Une association à but non lucratif</h5>
          <p>Nous souhaitons que le site internet "Au bord de l'eau" soit administré par une association loi 1901, reconnue d'utilité publique, et composée de membres représentatifs des différents acteurs engagés dans la préservation des espaces aquatiques : associations et acteurs publiques.</p>
          <p>L'association gérant le site internet "Au bord de l'eau" serait financée conjointement et exclusivement par plusieurs de ses membres institutionnels (Fédérations et pouvoirs publics) afin de garantir son indépendance et l'absence de conflits d'intérêts.</p>
          <br>
        </div>


        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Valeurs</h3>
          <p>Nous souhaitons que l’association s’appuie sur une charte de valeurs que l’ensemble de ses membres actifs, incluant les éco-citoyens et les personnes morales porteuses de projet, acceptent de signer lors de leur inscription sur le site. Cette charte s’appuie sur trois piliers :</p>
          <h5 class="title-text">Une nécessaire représentativité</h5>
          <p>L’association doit dans son fonctionnement même garantir la représentativité des différents organismes et personnes la composant. Cette représentativité est assurée par une gouvernance constituée de tous les acteurs. Cette diversité des points de vue permet de défendre les intérêts de chacune des composantes essentielles du projet. Les pouvoirs publics et leurs représentant, les entités privées et enfin les personnes privées en tant qu’éco-citoyens.
          La constitution de l’association en loi 1901 permet également d’assurer une neutralité dont la charte est la garante. L’objectif de l’association est déterminé par sa charte et non pas par les entités extérieures la composant ce qui permet d’assurer sa pérennité. </p>
          <h5 class="title-text">Une ouverture d’esprit</h5>
          <p>La démarche entreprise ne peut être un succès que si ses membres partagent un sentiment d’ouverture vers l’autre permettant de dépasser les différences d’opinions. Ce dépassement est rendu possible par la poursuite d’un idéal commun portant sur la portée concrète de l’action entreprise.</p>
          <h5 class="title-text">Inspirer la confiance par la transparence</h5>
          <p>Un tel projet ne peut être mené qu’avec la confiance de tous. Comme il est le fruit d’une collaboration pour préserver un bien commun partagé par tous, l’environnement, son fonctionnement doit en être le reflet. Pour cela, la gouvernance de l’association est composée d’un conseil d’administration représentant la diversité des acteurs du projet et les PV de l’AG seront publics, voir l’AG peut être publique ouverte aux membres de l’association.
          La transparence permet également un contrôle de l’ensemble des membres et donc d’assurer un bon fonctionnement au projet. </p>
          <h5 class="title-text">L’unité comme garantie d’actions écologiques positives </h5>
          <p>L’objectif est de favoriser l’adhérence du plus grand nombre à l’écologie et de favoriser le rapprochement entre les différents acteurs qui œuvrent pour l’environnement. La démarche doit donc préserver l’unité de l’ensemble de ses membres, grâce aux valeurs de la charte présentes dans chacun des chantiers écologiques disponibles sur le site. Toutes les personnes morales, qu’elles soient publiques ou privées, peuvent s’inscrire et demander à ce que leurs actions soient référencées, à condition qu’elles rentrent dans le cadre de l’écologie positive : c’est-à-dire celui d’une action concrète et fédératrice, qui suscite l’adhésion et non le rejet ou la contestation, et qui s’inscrit dans la convergence d’une société écologique. </p>
        </div>




        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text"> Proposition de charte </h3>
              <p>Une charte, signée par tous les participants, garantit les valeurs du projet</p>
              <p class="italic">Préambule : Conscients que la préservation de l’environnement doit être l’affaire de tous, que son développement passe par une collaboration plus forte entre les différentes composantes de la société, réaffirmant notre attachement à l’introduction en 2004 de la charte de l’environnement dans la constitution du 4 octobre 1958 et déclarant que cette communauté ne peut vivre qu’autour d’un socle de valeurs communes.</p>
              <p class="italic">Résolus :
              <ul>
                <li>à préserver la biodiversité grâce à l’éco-mobilisation</li>
                <li>à favoriser la transversalité écologique par l’essor d’actions</li>
                <li>à sensibiliser et informer les citoyens afin de transmettre ce bien commun aux générations futures</li>
              </ul>

              <p class="italic">Partageant les valeurs :</p>
              <ul>
                <li>de diversité dans la représentativité des acteurs de l’écologie,</li>
                <li>d’ouverture d’esprit et de bienveillance à l’égard des autres,</li>
                <li>de la transparence, garante d’une confiance pérenne et d’un fonctionnement efficace,</li>
                <li>d’unité, seule qualité permettant une action positive,</li>
              </ul>
              <p>Avons décidé d'associer nos efforts pour réaliser ces desseins :</p>
              <ul>
                <li>en joignant le projet d’association,</li>
                <li>en favorisant l’essor et la mise en valeur des projets mis en ligne,</li>
                <li>en inspirant et en incitant l’ensemble des citoyens à s’engager à faire de même,</li>
              </ul>
               <p class="italic">En conséquence, nous adoptons la présente Charte et nous nous associons comme membres à l’association XXX.</p>
        </div>


        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text"> Proposition de gouvernance de l'association</h3>
          <h5 class="title-text">Membres</h5>
          <p>Les membres de droit de l’association sont tous ceux qui ont signés la charte, qu’ils soient des personnes morales et individuelles.
          Si un Membre de l'Association enfreint les principes énoncés dans la présente Charte, il peut être exclu de l'association et son profil enlevé du site internet.
          Il est communiqué aux membres de l’association le procès-verbal de l’Assemblée Générale qui sera publié sur le site.</p>
          <h5 class="title-text">Organes</h5>
          <p>Il est créé comme organes principaux de l'association un comité de direction et un conseil d’administration.</p>
          <h6 class="title-text">Le comité de direction</h6>
          <p>Le comité de direction est l’organe exécutif de l’association. Il est composé à minima du délégué général et du trésorier. Le Comité de direction établit son règlement intérieur.
          Le délégué général représente l’association dans tous les actes de la vie civile. Il dirige les activités du Comité de direction et met en œuvre les recommandations du conseil d’administration. Il convoque le comité de direction et les assemblées générales. Il peut convoquer une assemblée générale extraordinaire.
          Le trésorier gère le patrimoine, effectue tout paiement et tout recouvrement de recettes pour le compte de l’association. </p>
          <h6 class="title-text">Le conseil d’administration</h6>
          <p>Le conseil d’administration est l’organe de décision. Il nomme et révoque le secrétaire général de l’association pour une période de deux ans. Le conseil d’administration se réunit une fois par an lors de son assemblée générale et élit ses membres tous les deux ans.</p>
          <p>Le conseil d’administration est composé de 12 personnes :</p>
          <ul>
            <li>4 représentants issues des entités porteuses de projet (publiques et privées)</li>
            <li>2 personnalités de la société civile reconnues pour leurs actions</li>
            <li>2  membres actifs du site (inscrits à plus de 5 actions)</li>
            <li>4 représentants des fédérations départementales et nationale, du Ministère et de l'AFB. La présidence sera proposée à l'un de ses représentants.</li>
          </ul>

          <h5 class="title-text">Assemblée générale</h5>
          <p>L'Assemblée générale est constituée des membres du conseil d’administration. Elle peut discuter toutes questions ou affaires rentrant dans le cadre de l’association. L'Assemblée générale établit son règlement intérieur.
          L’Assemblée générale élit le président du conseil d’administration et le délégué général de l’association.
          Le comité de direction, porte à la connaissance de l'Assemblée générale, lors de chaque session, les affaires relatives à l’avancement des buts et des moyens de l’association.
          L'Assemblée générale examine et approuve le budget de l'Organisation.
          Chaque membre du conseil d’administration dispose d'une voix. Les décisions du Comité de direction sont prises par un vote à la majorité simple, sauf concernant les statuts de l’association où les décisions doivent être prises à la majorité qualifiée.</p>
        </div>

      </div>
    </div>
  </div>
</div>

