<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">L'association Au bord de l'eau</h1>

        <div class="col-xs-12-col-md-6-col-lg-6">

          <h5 class="title-text">Une association loi 1901</h5>

          <p>Au bord de l'eau est une association loi 1901 (code RNA W751243346) dont l'objectif est de créer le réseau social des pêcheurs qui protègent le milieu de leur passion </p>


          <h5 class="title-text">Co-construction et consultation des acteurs</h5>
          <p>Nous sommes actuellement en phase de consulation afin de présenter le projet au maximum d'acteurs concernés :</p>
          <ul>
            <li>Les Fédérations Départementales de Pêche et de Protection du Milieu Aquatique</li>
            <li>Les Aappma</li>
            <li>Les associations de défense de l'environnement</li>
            <li>L'agence française pour la biodiversité</li>
            <li>Les ministères de la pêche et de l'environnement</li>
          </ul>
          <p>Notre objectif est de bien définir les besoins de chacun afin que toutes les parties puissent tirer bénéfice du projet.</p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Nos Objectifs</h3>

          <p>A travers le réseau social, nous poursuivons plusieurs objectifs </p>

          <h5 class="title-text">Favoriser l’éco-mobilisation autour du partage d’une passion</h5>
          <p>Notre premier objectif est d'amener le plus grand nombre de pêcheurs à passer à l'action dans la préservation du milieu qui constitue le socle de leur loisir. Le modèle collaboratif et ouvert de la plate-forme "Au bord de l'eau" permet d'inclure le plus grand nombre en regroupant toutes les initiatives et en les rendant facilement accessibles à chacun.  </p>

          <h5 class="title-text">Favoriser la coopération entre les acteurs</h5>
          <p>Le second objectif est de favoriser une collaboration entre les différents acteurs (APPMA, fédérations, AFB) et notamment la co-construction de projets. Notre objectif est d’amorcer une transversalité entre les différentes démarches écologiques (mise en commun de moyens, de connaissances et de ressources) afin de permettre l'émergence de projets toujours plus ambitieux.</p>

          <h5 class="title-text">Sensibiliser, informer, éduquer le plus grand nombre</h5>
          <p>Le troisième objectif est de faire de notre communauté des pêcheurs un relais fort et vivant dans la prise de conscience de la préservation de l'environnement.</p>
          <p>Forte d'un maillage associatif puissant, d'une communauté nombreuse, diversifiée et intergénérationnelle, témoin privilégiée de l'impact des activités humaines, la pêche de loisir se doit d'être en première ligne pour contribuer à faire de chacun les éco-citoyens de demain.</p>
          <p>Une coopération avec le Ministère de l’éducation nationale pourrait être proposée afin d’inciter des classes de collèges ou de lycée à choisir de participer à des actions écologiques menées dans leur département ou dans leur région.</p>
        </div>


        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Valeurs</h3>
          <p>Nous avons souhaité que l’association s’appuie sur une charte de valeurs que l’ensemble de ses membres actifs, incluant les éco-citoyens et les personnes morales porteuses de projet, acceptent de signer lors de leur inscription sur le site. Cette charte s’appuie sur trois piliers :</p>

          <h5 class="title-text">Une nécessaire représentativité</h5>
          <p>L’association doit dans son fonctionnement même garantir la représentativité des différents organismes et personnes la composant. Cette représentativité est assurée par une gouvernance constituée de tous les acteurs. Cette diversité des points de vue permet de défendre les intérêts de chacune des composantes essentielles du projet. Les pouvoirs publics et leurs représentant, les entités privées et enfin les personnes privées en tant qu’éco-citoyens.
          La constitution de l’association en loi 1901 permet également d’assurer une neutralité dont la charte est la garante. L’objectif de l’association est déterminé par sa charte et non pas par les entités extérieures la composant ce qui permet d’assurer sa pérennité. </p>
          <h5 class="title-text">Une ouverture d’esprit</h5>
          <p>La démarche entreprise ne peut être un succès que si ses membres partagent un sentiment d’ouverture vers l’autre permettant de dépasser les différences d’opinions. Ce dépassement est rendu possible par la poursuite d’un idéal commun portant sur la portée concrète de l’action entreprise.</p>
          <h5 class="title-text">Inspirer la confiance par la transparence</h5>
          <p>Un tel projet ne peut être mené qu’avec la confiance de tous. Comme il est le fruit d’une collaboration pour préserver un bien commun partagé par tous, l’environnement, son fonctionnement doit en être le reflet. Pour cela, la gouvernance de l’association est composée d’un conseil d’administration représentant la diversité des acteurs du projet et les PV de l’AG seront publics, voir l’AG peut être publique ouverte aux membres de l’association.
          La transparence permet également un contrôle de l’ensemble des membres et donc d’assurer un bon fonctionnement au projet. </p>
          <h5 class="title-text">L’unité comme garantie d’actions écologiques positives </h5>
          <p>L’objectif est de favoriser l’adhérence du plus grand nombre à l’écologie et de favoriser le rapprochement entre les différents acteurs qui œuvrent pour l’environnement. La démarche doit donc préserver l’unité de l’ensemble de ses membres, grâce aux valeurs de la charte présentes dans chacun des chantiers écologiques disponibles sur le site. Toutes les personnes morales, qu’elles soient publiques ou privées, peuvent s’inscrire et demander à ce que leurs actions soient référencées, à condition qu’elles rentrent dans le cadre de l’écologie positive : c’est-à-dire celui d’une action concrète et fédératrice, qui suscite l’adhésion et non le rejet ou la contestation, et qui s’inscrit dans la convergence d’une société écologique. </p>
        </div>




        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text"> Charte de l’Association AU BORD DE l’EAU </h3>
            <p>Les adhérents à la présente charte, désignée ci-après la Charte,</p>

              <ul>

                <li>considérant que la préservation de l’environnement et de la biodiversité est l’affaire de tous en tant que commun, que son développement passe par une collaboration plus forte entre les différentes composantes de la société et réaffirmant notre attachement à l’introduction en 2004 de la charte de l’environnement dans la constitution du 4 octobre 1958,</li>
                <li>considérant d’autre part que la double avancée dans le domaine du numérique et dans la compréhension et la gouvernance des communs offre une opportunité historique d’augmenter le nombre et la portée des actions environnentales et sociales ainsi que la sensibilisation de l’ensemble de la société aux questions essentielles et urgentes de biodiversité, et de l’impact de l’Homme et de ses sociétés sur notre planète,</li>
                <li>considérant enfin qu’il est d’ores et déjà possible, et c’est l’objectif de l’Association, de recenser, d’aider et faire connaître les actions et initiatives locales allant dans ce sens,</li>
              </ul>

              <p>se proposent de soutenir l’action de l’Association visant cet objectif et consistant, à cette fin, à se doter de moyens et à les mettre en œuvre, à commencer par la réalisation du site internet comportant une plate-forme d’actions environnementales. Les adhérents à la Charte respectent son esprit et, plus précisément, les sept valeurs qui caractérisent l’action de l’Association.</p>

              <p>Ainsi, dans la mesure de leurs moyens ou de leurs disponibilités, soit par leur aide ou leur participation directes, soit au travers des initiatives et des réalisations de l’Association qu’ils souhaiteront favoriser, les adhérents à la Charte s’engagent :</p>

              <p><strong>La promesse</strong></p>
              <p>à défendre, illustrer et soutenir les buts de l’Association, notamment en suggérant de nouvelles idées qui seront toujours bien accueillies et dûment examinées,</p>

              <p><strong>La constance</strong></p>
              <p>s’agissant d’une œuvre de longue haleine, compte tenu de l’immensité du défi d’un côté et de la modicité des actions de l’Association de l’autre, à maintenir leur aide aussi longtemps qu’il leur sera possible,</p>

              <p><strong>L’imagination</strong></p>
              <p>la contribution de l’Association en termes de moyens devant rester probablement et malheureusement négligeable en raison du caractère protéiforme des énormes besoins et de la nécessité d’y répondre par des solutions finement adaptées, à favoriser les solutions intégrant toujours plus d’imagination et de créativité de façon à en maximiser les résultats pour un niveau de moyens donné.</p>

              <p><strong>La vigilance</strong></p>
              <p>dans un monde en mouvement rapide offrant de réelles occasions de découvrir, ici ou là, de nouveaux procédés, des ressources disponibles ou des moyens inutilisés, à favoriser, pour les détecter sans délai, la mise en œuvre d’une veille active, immense source en soi de richesse.</p>

              <p><strong>La médiation</strong></p>
              <p>à promouvoir le développement de moyens visant à détecter les besoins des uns (la demande) comme les surplus des autres (l’offre) et à les publier par le truchement d’une solution numérique collaborative.</p>

              <p><strong>La pertinence</strong></p>
              <p>conscients des difficultés inhérentes au savoir-aider et des inconvénients, voire des dangers, que pourraient entraîner des aides inadaptées aux besoins, à s’assurer en permanence avec professionnalisme de la pertinence des conseils et des actions ainsi que de leur adéquation aux besoins.</p>

              <p><strong>La bienveillance</strong></p>
              <p>pour surmonter les inévitables frictions qui émaillent parfois les projets très ambitieux, à toujours observer la plus grande bienveillance en pensée, en parole et en acte à l’égard de tous les acteurs de cette grande entreprise.</p>

              <p>En conséquence, nous adoptons la présente Charte et nous nous associons comme membres à l’association Au Bord de L’Eau.</p>

        </div>
      </div>
    </div>
  </div>
</div>

