<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">Le futur site internet</h1>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Ce site est une demo</h3>
          <p>Afin d'avoir une première idée </p>
          <p>Afin d'avoir des premiers retours</p>
          <br>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Une idée plus précise du site à terme</h3>
              <p>Mettre des images</p>
        </div>
      </div>
    </div>
  </div>
</div>

