<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <h1 class="title-page text-center">Le projet d'association</h1>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Philosophie</h3>
          <h5 class="title-text">Une association à but non lucratif</h5>
          <p>Une assciation loi 1901 reconnue d'utilité publique</p>
          <p>Un financement publique afin de garantir l'indépendance de l'association, des acteurs qui la composent et l'absence de conflits d'intérêts</p>

          <h5 class="title-text">Un mouvement collaboratif au service du bien commun</h5>
          <p>Les pêcheurs représentent une communauté de 1,2 millions de personnes en France. En créant un réseau social qui puisse promouvoir les biens communs, nous pouvons mobiliser notre communauté autour de valeurs communes et même en sensibiliser d'autres : la jeunesse, les autres activités qui s'exercent dans la nature. </p>

          <h5 class="title-text">Une force inclusive</h5>
          <p>Rapprocher les différents acteurs insitutionnels au sein d'une même plateforme leur permettra de collaborer de manière plus effective et de transmettre les bonnes pratiques plus facilement</p>
          <br>
        </div>

        <h3 class="title-text">Calendrier</h3>
              <li><strong>Avril 2017_Juin 2017</strong> => Echanges avec tous les acteurs pour bien définir le projet</li>
              <p></p>
              <li><strong>Juin 2017_Décembre 2017</strong> => Constitution de l'équipe et recherche des financements</li>
              <p></p>
              <li><strong>Janvier 2018_Mars 2018</strong> => Création de l'association et du site internet</li>
              <p></p>
              <li><strong>Avril 2018</strong> => Lancement du site et campagne de communication</li>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Objectifs</h3>
          <h5 class="title-text">Favoriser l’éco-mobilisation autour du partage d’une passion</h5>
          <p>Favoriser les actions écologiques positives ou tout le monde se réunit autour de valeurs communes et qui permettrait au plus grand nombre de s’initier concrètement à l’écologie dans un cadre le plus positif qui soit (nettoyer une plage ou une rivière, assister à un concert dont les fonds serviront à restaurer un lieu naturel).</p>
          <h5 class="title-text">Favoriser la coopération entre les acteurs</h5>
          <p>Le second objectif est de favoriser une collaboration entre les différents acteurs (APPMA, fédérations, AFB) et notamment la co-construction de projets. Aujourd’hui encore, les actions environnementales sont trop isolées les unes des autres. L’objectif du site internet, comme celui de l’Agence Française pour la Biodiversité, est d’amorcer une transversalité écologique afin de renforcer les initiatives existantes. Favoriser la collaboration entre les différentes entités en mettant en commun des moyens, des connaissances et des ressources permettra de voir émerger à terme des projets plus ambitieux regroupant différents acteurs, publics, privés qui n’ont pas forcément l’habitude de collaborer sur le terrain aujourd’hui.</p>
          <h5 class="title-text">Sensibiliser, informer, éduquer le plus grand nombre</h5>
          <p>Le troisième objectif est un corollaire du premier. La Conférence de Paris sur le Climat en 2015 a permis une prise de conscience globale qui doit être entretenue et augmentée par une sensibilisation continue. Le passage à l’action est déterminant dans l’éducation environnementale du citoyen afin d’en faire un éco-citoyen. Un projet pourrait par exemple être mené avec le Ministère de l’éducation nationale afin d’inciter des classes de collèges ou de lycée à choisir de participer à des actions écologiques menées dans leur département ou dans leur région.</p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text">Valeurs</h3>
          <p>L’association s’appuie sur une charte de valeurs que l’ensemble de ses membres actifs, incluant les éco-citoyens et les personnes morales porteuses de projet, acceptent de signer lors de leur inscription sur le site (inscription obligatoire ou non pour les éco-citoyen selon le cadre de la responsabilité juridique). Cette charte s’appuie sur trois piliers :</p>
          <h5 class="title-text">Une nécessaire représentativité</h5>
          <p>L’association doit dans son fonctionnement même garantir la représentativité des différents organismes et personnes la composant. Cette représentativité est assurée par une gouvernance constituée de tous les acteurs. Cette diversité des points de vue permet de défendre les intérêts de chacune des composantes essentielles du projet. Les pouvoirs publics et leurs représentant, les entités privées et enfin les personnes privées en tant qu’éco-citoyens.
          La constitution de l’association en loi 1901 permet également d’assurer une neutralité dont la charte est la garante. L’objectif de l’association est déterminé par sa charte et non pas par les entités extérieures la composant ce qui permet d’assurer sa pérennité. </p>
          <h5 class="title-text">Une ouverture d’esprit</h5>
          <p>La démarche entreprise ne peut être un succès que si ses membres partagent un sentiment d’ouverture vers l’autre permettant de dépasser les différences d’opinions. Ce dépassement est rendu possible par la poursuite d’un idéal commun portant sur la portée concrète de l’action entreprise.</p>
          <h5 class="title-text">Inspirer la confiance par la transparence</h5>
          <p>Un tel projet ne peut être mené qu’avec la confiance de tous. Comme il est le fruit d’une collaboration pour préserver un bien commun partagé par tous, l’environnement, son fonctionnement doit en être le reflet. Pour cela, la gouvernance de l’association est composée d’un conseil d’administration représentant la diversité des acteurs du projet et les PV de l’AG seront publics, voir l’AG peut être publique ouverte aux membres de l’association.
          La transparence permet également un contrôle de l’ensemble des membres et donc d’assurer un bon fonctionnement au projet. </p>
          <h5 class="title-text">L’unité comme garantie d’actions écologiques positives </h5>
          <p>L’objectif est de favoriser l’adhérence du plus grand nombre à l’écologie et de favoriser le rapprochement entre les différents acteurs qui œuvrent pour l’environnement. La démarche doit donc préserver l’unité de l’ensemble de ses membres, grâce aux valeurs de la charte présentes dans chacun des chantiers écologiques disponibles sur le site. Toutes les personnes morales, qu’elles soient publiques ou privées, peuvent s’inscrire et demander à ce que leurs actions soient référencées, à condition qu’elles rentrent dans le cadre de l’écologie positive : c’est-à-dire celui d’une action concrète et fédératrice, qui suscite l’adhésion et non le rejet ou la contestation, et qui s’inscrit dans la convergence d’une société écologique. </p>
        </div>




        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text"> Une Proposition de charte </h3>
              <p>Une charte, signée par tous les participants, garantit les valeurs du projet</p>
              <p class="italic">Préambule : Conscients que la préservation de l’environnement doit être l’affaire de tous, que son développement passe par une collaboration plus forte entre les différentes composantes de la société, réaffirmant notre attachement à l’introduction en 2004 de la charte de l’environnement dans la constitution du 4 octobre 1958 et déclarant que cette communauté ne peut vivre qu’autour d’un socle de valeurs communes.</p>
              <p class="italic">Résolus
              • à préserver la biodiversité grâce à l’éco-mobilisation,
              • à favoriser la transversalité écologique par l’essor d’actions
              • à sensibiliser et informer les citoyens afin de transmettre ce bien commun aux générations futures</p>
              <p class="italic">Partageant les valeurs
              • de diversité dans la représentativité des acteurs de l’écologie,
              • d’ouverture d’esprit et de bienveillance à l’égard des autres,
              • de la transparence, garante d’une confiance pérenne et d’un fonctionnement efficace,
              • d’unité, seule qualité permettant une action positive,

              Avons décidé d'associer nos efforts pour réaliser ces desseins
              • en joignant le projet d’association,
              • en favorisant l’essor et la mise en valeur des projets mis en ligne,
              • en inspirant et en incitant l’ensemble des citoyens à s’engager à faire de même,
               </p>
               <p class="italic">En conséquence, nous adoptons la présente Charte et nous nous associons comme membres à l’association XXX.</p>
        </div>


        <div class="col-xs-12-col-md-6-col-lg-6">
          <h3 class="title-text"> Gouvernance</h3>
          <h5 class="title-text">Membres</h5>
          <p>Les membres de droit de l’association sont tous ceux qui ont signés la charte, qu’ils soient des personnes morales et individuelles.
          Si un Membre de l'Association enfreint les principes énoncés dans la présente Charte, il peut être exclu de l'association et son profil enlevé du site internet.
          Il est communiqué aux membres de l’association le procès-verbal de l’Assemblée Générale qui sera publié sur le site.</p>
          <h5 class="title-text">Organes</h5>
          <p>Il est créé comme organes principaux de l'association un comité de direction et un conseil d’administration.</p>
          <h6 class="title-text">Le comité de direction</h6>
          <p>Le comité de direction est l’organe exécutif de l’association. Il est composé à minima du délégué général et du trésorier. Le Comité de direction établit son règlement intérieur.
          Le délégué général représente l’association dans tous les actes de la vie civile. Il dirige les activités du Comité de direction et met en œuvre les recommandations du conseil d’administration. Il convoque le comité de direction et les assemblées générales. Il peut convoquer une assemblée générale extraordinaire.
          Le trésorier gère le patrimoine, effectue tout paiement et tout recouvrement de recettes pour le compte de l’association. </p>
          <h6 class="title-text">Le conseil d’administration</h6>
          <p>Le conseil d’administration est l’organe de décision. Il nomme et révoque le secrétaire général de l’association pour une période de deux ans. Le conseil d’administration se réunit une fois par an lors de son assemblée générale et élit ses membres tous les deux ans.</p>
          <p>Le conseil d’administration est composé de 12 personnes :
          - Des représentants issues des entités porteuses de projet (publiques et privées)
          - 1 ou 2 personnalités de la société civile reconnue pour leurs actions
          - 2  actifs (inscrit à plus de 5 actions..) tirés au hasard
          - Des représentant de la fédération, du Ministère et de l'AFB. La présidence sera proposée à l'un de ses représentants.</p>

          <h5 class="title-text">Assemblée générale</h5>
          <p>L'Assemblée générale est constituée des membres du conseil d’administration. Elle peut discuter toutes questions ou affaires rentrant dans le cadre de l’association. L'Assemblée générale établit son règlement intérieur.
          L’Assemblée générale élit le président du conseil d’administration et le délégué général de l’association.
          Le comité de direction, porte à la connaissance de l'Assemblée générale, lors de chaque session, les affaires relatives à l’avancement des buts et des moyens de l’association.
          L'Assemblée générale examine et approuve le budget de l'Organisation.
          Chaque membre du conseil d’administration dispose d'une voix. Les décisions du Comité de direction sont prises par un vote à la majorité simple, sauf concernant les statuts de l’association où les décisions doivent être prises à la majorité qualifiée.</p>
        </div>

      </div>
    </div>
  </div>
</div>

