<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h1 class="title-page text-center">Le projet "Au bord de l'eau"</h1>

          <h5 class="title-text">Qu’est-ce que c'est ?</h5>

          <p>Un site Internet pour <strong>rassembler les pêcheurs autour de leur passion</strong> tout en participant à <strong> la préservation des environnements</strong> où elle se pratique.</p>

          <p>Composé de deux volets imbriqués :</p>

          <p><strong>- un réseau social </strong>qui permet à chacun de partager sa passion : suivre l'activité de ses amis, publier des photos, des articles, des fiches techniques, créer des événements et organiser des sorties entre amis...</p>

          <p><strong>- une plate-forme permettant aux organisations de créer des actions environnementales</strong> et trouver des ressources afin de les concrétiser : trouver des volontaires prêts à prêter main forte pour une action sur le terrain, créer un financement participatif, mettre un en place un événement... </p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Favoriser le passage à l’action</h5>

          <p>Côté pêcheur, le site a pour objectif de <strong>faciliter la prise de conscience</strong> et donne les moyens de la <strong>transformer en un engagement concret.</strong></p>
          <p>Pour les porteurs de projets, il permettra de <strong>rassembler des ressources nouvelles</strong>, de favoriser le partage des connaissances entre acteurs et d’améliorer la transversalité de leurs actions.</p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Les projets environnementaux remplacent la publicité</h5>
          <p>Le site aura pour but d’attirer les pêcheurs en leur offrant un <strong>outil pratique et pensé pour eux</strong>, mais la publicité  habituelle y sera remplacée par la <strong>promotion des actions menées par les différents acteurs</strong> (Appma, Fédérations, Associations ou projets particuliers validés par le site). Les internautes peuvent participer aux actions présentes sur le site et suivre l’évolution de leurs projets préférés. </p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Vivre la rivière sans vivre à côté</h5>
          <p>Le réseau "Au bord de de l'eau" est un moyen de <strong>continuer à vivre pleinement sa passion lorsque l’on ne se trouve pas au bord de l’eau</strong>, ce qui est le cas d’un nombre croissant de pêcheurs. Des pêcheurs qui, s’ils ont envie de participer à des actions environnementales, n’y ont pas forcément accès car ne font pas partie des réseaux locaux. Notamment les urbains (80 % de la population française).</p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Une association régie par une charte</h5>
          <p>L'idée est de créer une association loi 1901 qui sera seule gestionnaire du site internet. Composée de représentants d’associations, de fédérations, de pouvoirs publics et de pêcheurs, elle sera régie par une charte (association à but non lucratif, transparence, représentativité de tous les acteurs du monde de la pêche...) garantissant la légitimité et la pérennité du projet.</p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Une initiative transposable</h5>
          <p>Le modèle peut être facilement <strong>partagé à d’autres communautés</strong> autour de passions « nature » : ornithologie... La partie réseau social sera adaptée au thème et les <strong>actions environnementales seront diffusées dans toutes les communautés</strong> qu’elles sont susceptibles d’intéresser. Le modèle peut également être répliquer à l’étranger ou dans d’autres domaines (agronomie, mer, etc.).</p>
        </div>
      </div>
    </div>
  </div>
</div>
