<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12-col-md-6-col-lg-6">
        <h1 class="text-center">Le projet au bord de l'eau</h1>
        <h3>Une association</h3>
        <p>Notre obectif est de créer <strong>une association loi 1901</strong> composée de représentants d’associations, de fédérations, de représentants de l'Etat  et de pêcheurs. L'objectif de l'association est d'assurer la gouvernance du site internet "Au bord de l'eau".Une charte (projet à but non-lucratif, open-source, représentativité de tous les acteurs du monde de la pêche...) garantie la légitimité et la pérennité du projet.</p>

        <h3>Un site internet</h3>
        <p>Le site Internet "Au bord de l'eau" rassemble les pêcheurs autour de leur passion et permet à tous de participer à la préservation des environnements où elle se pratique.</p>

        <p>Le site se compose de deux volets imbriqués :</p>

        <p>- un réseau social qui permet à chacun de partager sa passion (type facebook mais dédié à la pêche : amis, groupes, événements, fil d’actualité), suivre ses comptes.</p>

        <p>- une plateforme permettant de créer des actions environnementales et trouver des ressources permettant de les concrétiser : trouver un public ou des volontaires prêts à filer un coup de main, créer un financement participatif, échanger et sensibiliser. </p>
      </div>

      <div class="col-xs-12-col-md-6-col-lg-6">
        <h3>Notre objectif</h3>

        <p>Pour le pêcheur, faciliter le passage entre prise de conscience (lecture, sensibilisation) et engagement concret. Pour les porteurs de projet, trouver des ressources nouvelles, favoriser le partage des connaissances entre acteurs et la transversalité.</p>
      </div>
      <div class="col-xs-12-col-md-6-col-lg-6">
        <h3>Notre conviction</h3>
        <p>Ce projet permettrait d'assurer une promotion efficace des actions menées par les différents acteurs (appma, fédés, assos, des projets particuliers validés...) auprès d'une part beaucoup plus importantes de pêcheurs connectés qui vivent "aussi" leur passion sur le net.
        Les internautes peuvent participer aux actions présentes sur le site et suivre leurs projets préférés. </p>
      </div>
    </div>
  </div>
</div>
