<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h1 class="title-page text-center">Le projet "Au bord de l'eau"</h1>

          <h5 class="title-text">Qu’est-ce ?</h5>

          <p>Un site Internet pour <strong>rassembler les pêcheurs autour de leur passion tout en participant à la préservation des environnements où elle se pratique.</strong></p>

          <p>Composé de deux volets imbriqués :</p>

          <p><strong>- un réseau social</strong>qui permet à chacun de partager sa passion (type Facebook mais dédié à la pêche), où l’on peut suivre les comptes de ses amis, publier des photos, créer des articles, des fiches techniques, des sorties entre amis...</p>

          <p><strong>- une plate-forme permettant de créer des actions environnementales</strong> et trouver des ressources afin de les concrétiser : trouver des volontaires prêts à prêter main forte pour une action sur le terrain, créer un financement participatif, mettre un en place un événement... </p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Passer à l’action</h5>

          <p>Côté pêcheur, ce site aura pour objectif de <strong>faciliter la prise de conscience</strong>de la nécessité d’agir et donnera les moyens de la <strong>transformer en un engagement concret.</strong></p>
          <p>Pour les porteurs de projets, il permettra de <strong>rassembler des ressources nouvelles</strong>, de favoriser le partage des connaissances entre acteurs et d’améliorer la transversalité de leurs actions.</p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Les projets environnementaux remplacent la publicité</h5>
          <p>Le site aura pour but d’attirer les pêcheurs en leur offrant un <strong>outil pratique et pensé pour eux</strong>, mais la publicité  habituelle y sera remplacée par la <strong>promotion des actions menées par les différents acteurs</strong> (Appma, Fédérations, Associations ou projets particuliers validés par le site). Les internautes peuvent participer aux actions présentes sur le site et suivre l’évolution de leurs projets préférés. </p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Vivre la rivière sans vivre à côté</h5>
          <p>Il n’y pas à ce jour de réseau fonctionnel qui permette de vivre pleinement sa passion de la pêche sur Internet. Ce réseau serait un moyen de <strong>continuer à rêver lorsque l’on ne se trouve pas au bord de l’eau</strong>, ce qui est le cas d’un nombre croissant de pêcheurs. Des pêcheurs qui, s’ils ont envie de participer à des actions environnementales, n’y ont pas forcément accès car ne font pas partie des réseaux locaux. Notamment les urbains (2/3 de la population mondiale sera urbaine d’ici 2030).</p>
        </div>
        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Une association et une charte</h5>
          <p>Le site sera géré par une association loi 1901 composée de représentants d’associations, de fédérations, de pouvoirs publics et de pêcheurs. Une charte (<strong>association à but non lucratif</strong>, fonctionnement transparent, représentativité de tous les acteurs du monde de la pêche...) garantira la légitimité et la pérennité du projet.</p>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">
          <h5 class="title-text">Une initiative transposable</h5>
          <p>Si le modèle fonctionne, il peut être facilement <strong>partagé à d’autres communautés</strong> autour de passions « nature ». La partie réseau social sera adaptée au thème et les <strong>actions environnementales seront diffusées dans toutes les communautés</strong> qu’elles sont susceptibles d’intéresser. Le modèle peut également être répliquer à l’étranger ou dans d’autres domaines (agronomie, mer, etc.).</p>
        </div>
      </div>
    </div>
  </div>
</div>
