
<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">

        <div class="col-xs-12-col-md-6-col-lg-6">

          <h1 class="title-page text-center">Fonctionnement de la plateforme</h1>
          <p>La plate-forme site internet offrira deux accès différents selon que l’on est un acteur porteur de projet ou un éco-citoyen qui recherche un projet dans lequel s’investir.</p>

          <h3 class="title-text"> Mettre en ligne une action</h3>
          <h5 class="title-text"> Conditions d’éligibilités</h5>
          <p>Peuvent soumettre leurs projets seulement les personnes morales et leurs émanations (sous-directions.., voire les cas exacts dans les administrations, les différents types d’établissement publics).</p>
          <p>Les projets soumis sont admis s’ils rentrent dans le cadre de la charte. La direction de l’association est souveraine quant à la validation ou non des chantiers proposés. En cas de litige, le plaignant pourra saisir un membre du Conseil d’administration qui pourra, s’il le souhaite, présenter le projet de chantier refusé en AG qui sera examiné et validé ou non à main levée.</p>
          <h5 class="title-text"> Modalités d’inscriptions</h5>
          <p>En premier lieu, la personne morale et la personne physique la représentant s’inscrit sur le site en indiquant :</p>
          <ul>
            <li>Nom exact de la personne morale</li>
            <li>Numéro de Siret si c’est une association ou une entreprise</li>
            <li>Equivalent pour une personne morale publique (attention, si c’est une sous-direction sans personnalité juridique propre, indiquer celle au-dessus)</li>
            <li>Adresse du siège social</li>
            <li>Nom du Président</li>
            <li>N° de téléphone, email et site internet</li>
            <li>Contact et nom du responsable des actions écologiques présentées sur la plateforme</li>
            <li>Signature de la charte d’engagement</li>
          </ul>
          <p>En second lieu, la personne morale crée sa fiche de projet afin qu’elle soit publiée sur le site :</p>
          <ul>
            <li>Photo illustrant au mieux le futur projet</li>
            <li>Nom du projet</li>
            <li>Date, heure et lieu</li>
            <li>Thème </li>
            <li>Besoins requis</li>
              <ul>
                <li>Petites mains</li>
                <li>Matériel </li>
                <li>Ressources financières (un modèle de financement participatif sera inclus)</li>
                <li>Appel à d’autres personnes morales pour l’aider</li>
              </ul>
            <li>Inscription obligatoire ou pas pour l’éco-citoyen (selon le cadre juridique du projet)</li>
            <li>Autres informations utiles (comment se rendre sur place, covoiturages prévus,etc..)</li>
          </ul>

          <h3 class="title-text"> S’inscrire à une action</h3>
          <h5 class="title-text"> Conditions d’inscription</h5>
          <p>Tout citoyen et toute personne morale peut s’inscrire sur le site et participer aux actions.
          L’inscription à une action peut être obligatoire ou non selon le cadre juridique de responsabilité défini pour l’action. En effet, l’association doit, à chaque demande d’action faite par un porteur de projet, vérifier si l’engagement du citoyen doit être couvert en partie, en totalité ou en nullité par le porteur du projet. Cette responsabilité juridique est transférée à l’association si, et le porteur d’actions, et le citoyen engagé, signe chacun leur charte d’utilisation respective.</p>
          <h5 class="title-text">Modalités d’inscription</h5>
          <p>Si l’inscription a un événement n’est pas obligatoire, l’éco-pêcheur peut y aller sans s’être inscrit sur le site (par exemple un événement en ville où les responsabilités engagées sont faibles comme aller à un « repair » café pour faire réparer sa bouilloire. En revanche, le fait qu’il ne soit pas inscrit fait qu’il n’aura pas de suivi de son profil sur le site.</p>
          <p>Si l’inscription a un événement est obligatoire car le nombre de personne admise est limitée ou parce que la nature du chantier écologique peut engager la responsabilité du porteur du projet (par exemple, une restauration d’une rivière où l’un des éco-citoyens se blesse), le participant doit s’inscrire au projet.</p>
          <p>En premier lieu, il doit créer son profil sur le site :</p>
          <ul>
            <li>Photo</li>
            <li>Prénom et Nom</li>
            <li>Lieu de résidence</li>
            <li>Présentation</li>
            <li>N° de téléphone, email et site internet</li>
            <li>N° de téléphone à contacter en cas de problème</li>
            <li>Signature de la charte </li>
          </ul>
          <p>Une fois son profil créé et sa session ouverte, l’éco-pêcheur peut s’inscrire aux actions qu’il souhaite.</p>

          <h1 class="title-page text-center">Fonctionnement du réseau social</h1>
          <p>L'inscription au réseau social sera une inscription simplifiée (possibilité d'utiliser facebook connect) que la personne devra complétée s'il veut avoir accès aux événements de la plateforme</p>

        </div>
      </div>
    </div>
  </div>
</div>


