
<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-pages">

        <h1 class="title-page text-center">Visuels</h1>

        <h4 class="title-text">Page d'accueil</h4>

        <div class="col-xs-12">
          <%= image_tag "visuel_accueil_abdl.jpg", class:"photo-site" %>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">

        <h4 class="title-text">Page action</h4>

        <div class="col-xs-12">
          <%= image_tag "visuel_action_abdl.jpg", class:"photo-site" %>
        </div>

        <div class="col-xs-12-col-md-6-col-lg-6">


          <h1 class="title-page text-center">Fonctionnement de la plateforme</h1>
          <p>La plate-forme site internet offre <strong>deux accès différents</strong> selon que l’on soit un <strong>acteur porteur de projet</strong> ou un <strong>éco-citoyen</strong> qui recherche un projet dans lequel s’investir.</p>

          <h4 class="title-text"> Mettre en ligne une action</h4>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="title-text-carrousel"> Trouver de nouvelles ressources possibles</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>Les nouvelles ressources accessibles grâce au site :</p>
                  <ul>
                    <li>Trouver des personnes prêtes filer un coup de main.</li>
                    <li>Faire appel  à ressources plus précises : tronçonneuses, pelles...</li>
                    <li>Monter une opération de financement participatif</li>
                    <li>Echanger sur les méthodes </li>
                    <li>Faire des opérations de sensibilisation (jeunesse...)</li>
                    <li>Aider la recherche scientifique (comptage...)</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="title-text-carrousel"> Conditions d’éligibilités</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Peuvent soumettre leurs projets seulement les personnes morales et leurs émanations (sous-directions.., voire les cas exacts dans les administrations, les différents types d’établissement publics).</p>
                  <p>Les projets soumis sont admis s’ils rentrent dans le cadre de la charte. La direction de l’association est souveraine quant à la validation ou non des chantiers proposés. En cas de litige, le plaignant pourra saisir un membre du Conseil d’administration qui pourra, s’il le souhaite, présenter le projet de chantier refusé en AG qui sera examiné et validé ou non à main levée.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="title-text-carrousel"> Modalités d’inscriptions</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                 <p>En premier lieu, la personne morale et la personne physique la représentant s’inscrit sur le site en indiquant :</p>
                  <ul>
                    <li>Nom exact de la personne morale</li>
                    <li>Numéro de Siret si c’est une association ou une entreprise</li>
                    <li>Equivalent pour une personne morale publique (attention, si c’est une sous-direction sans personnalité juridique propre, indiquer celle au-dessus)</li>
                    <li>Adresse du siège social</li>
                    <li>Nom du Président</li>
                    <li>N° de téléphone, email et site internet</li>
                    <li>Contact et nom du responsable des actions écologiques présentées sur la plateforme</li>
                    <li>Signature de la charte d’engagement</li>
                  </ul>
                  <p>En second lieu, la personne morale crée sa fiche de projet afin qu’elle soit publiée sur le site :</p>
                  <ul>
                    <li>Photo illustrant au mieux le futur projet</li>
                    <li>Nom du projet</li>
                    <li>Date, heure et lieu</li>
                    <li>Thème </li>
                    <li>Besoins requis</li>
                      <ul>
                        <li>Petites mains</li>
                        <li>Matériel </li>
                        <li>Ressources financières (un modèle de financement participatif sera inclus)</li>
                        <li>Appel à d’autres personnes morales pour l’aider</li>
                      </ul>
                    <li>Inscription obligatoire ou pas pour l’éco-citoyen (selon le cadre juridique du projet)</li>
                    <li>Autres informations utiles (comment se rendre sur place, covoiturages prévus,etc..)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



          <h4 class="title-text"> S’inscrire à une action</h4>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <h5 class="title-text-carrousel"> S'engager plus facilement</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>La capacité pour les pêcheurs de s'engager plus facilement :</p>
                  <ul>
                    <li>Suivre les projets préféres.</li>
                    <li>Connaître les projets de chez soi</li>
                    <li>Sentiment d'appartenir à une communauté soudée</li>
                    <li>Possibilité de faire valoir ses expertises personnelles </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h5 class="title-text-carrousel">Conditions d’inscription</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                   <p>Tout citoyen et toute personne morale peut s’inscrire sur le site et participer aux actions. L’inscription à une action peut être obligatoire ou non selon le cadre juridique de responsabilité défini pour l’action. En effet, l’association doit, à chaque demande d’action faite par un porteur de projet, vérifier si l’engagement du citoyen doit être couvert en partie, en totalité ou en nullité par le porteur du projet. Cette responsabilité juridique est transférée à l’association si, et le porteur d’actions, et le citoyen engagé, signe chacun leur charte d’utilisation respective.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h5 class="title-text-carrousel">Modalités d’inscription </h5>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                  <p>Si l’inscription a un événement n’est pas obligatoire, l’éco-pêcheur peut y aller sans s’être inscrit sur le site (par exemple un événement en ville où les responsabilités engagées sont faibles comme aller à un « repair » café pour faire réparer sa bouilloire. En revanche, le fait qu’il ne soit pas inscrit fait qu’il n’aura pas de suivi de son profil sur le site.</p>
                  <p>Si l’inscription a un événement est obligatoire car le nombre de personne admise est limitée ou parce que la nature du chantier écologique peut engager la responsabilité du porteur du projet (par exemple, une restauration d’une rivière où l’un des éco-citoyens se blesse), le participant doit s’inscrire au projet.</p>
                  <p>En premier lieu, il doit créer son profil sur le site :</p>
                  <ul>
                    <li>Photo</li>
                    <li>Prénom et Nom</li>
                    <li>Lieu de résidence</li>
                    <li>Présentation</li>
                    <li>N° de téléphone, email et site internet</li>
                    <li>N° de téléphone à contacter en cas de problème</li>
                    <li>Signature de la charte </li>
                  </ul>
                  <p>Une fois son profil créé et sa session ouverte, l’éco-pêcheur peut s’inscrire aux actions qu’il souhaite.</p>
                </div>
              </div>
            </div>
          </div>

          <h1 class="title-page text-center">Fonctionnement du réseau social</h1>

          <p>L'inscription au réseau social sera une inscription simplifiée (possibilité d'utiliser facebook connect) que la personne devra complétée s'il veut avoir accès aux événements de la plateforme</p>

          <h4 class="title-text"> Un réseau social pour les pêcheurs</h4>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeEight" aria-expanded="true" aria-controls="collapseSeEight">
                    <h5 class="title-text-carrousel"> Partager sa passion</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseSeEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                  <p>Les possibilités :</p>
                  <ul>
                    <li>Création d'articles, photos,...</li>
                    <li>Connection comptes instagram... </li>
                    <li>Accéder au forum...</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <h5 class="title-text-carrousel">Créer des événements privés</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                  <ul>
                    <li>Organiser des sorties de pêches</li>
                    <li>Faire des petites annonces / groupes</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <h5 class="title-text-carrousel"> Modalités d’inscriptions</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                  <p>L'inscription au réseau social sera une inscription simplifiée (possibilité d'utiliser facebook connect) que la personne devra complétée s'il veut avoir accès aux événements de la plateforme</p>
                </div>
              </div>
            </div>
          </div>

           <h4 class="title-text"> Une vitrine pour les porteurs d'actions</h4>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingEleven">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                    <h5 class="title-text-carrousel"> Communiquer ses actions sur le réseau</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEleven">
                <div class="panel-body">
                  <p>Une partie du site (habituellement dédié à la publicité) y sera remplacée par la <strong>promotion des actions menées par les différents acteurs</strong> (Appma, Fédérations, Associations ou projets particuliers validés par le site). Les internautes peuvent participer aux actions présentes sur le site et suivre l’évolution de leurs projets préférés. </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwelve">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    <h5 class="title-text-carrousel"> Entretenir la relation avec les personnes qui suivent ses projets</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                <div class="panel-body">
                  <p>En postant régulièrement des actions qui ont eues lieues dans l'assocation</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThirteen">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                    <h5 class="title-text-carrousel"> Mener des grands projet nationaux</h5>
                  </a>
                </h4>
              </div>
              <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                <div class="panel-body">
                 <p>Certains projets seront poussés par l'association car ils ont un intérêt pour l'ensemble de la communauté : sensibilisation sur une politique nationale, journée de la pêche. L'idée est de montrer une communauté soudée autour de certains grands principes.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


