<div class="wrapper-grey">
  <div class="container">
    <div class="text-pages">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title-page text-center"> Ils nous soutiennent </h1>

          <p>Nous souhaitons mobiliser l'ensemble des acteurs impliqués dans la protection des milieux aquatiques et/ou de la pêche (pêcheurs, fédérations et associations de pêcheurs, associations de protection de l'environnement, Ministère de l'Environnement, Agence Française pour la Biodiversité...). Ce projet sera mené dans un souci de co-construction.</p>

          <p>Plusieurs acteurs venus de divers horizons soutiennent déjà notre démarche :</p>

          <ul>
            <li><strong>Fabien Thomas, président de la Société de pêche lexovienne (14), Association agréée pour la pêche et la protection du milieu aquatique autour de Lisieux.</strong></li>
            <li><strong>Simon Burner, directeur de SOS Loire vivante – European rivers network France</strong></li>
            <li><strong>Isabelle Poitou, directrice de l’association Mer – Terre</strong></li>
            <li><strong>Anne-Cécile Monnier, Biologiste, Association Reflets d’eau douce</strong></li>
            <li><strong>Matthias Parre, Réalisateur, « La Dordogne, les 4 saisons de la pêche à la mouche »</strong></li>
            <li><strong>Nicole Alix, Présidente, la coop des communs</strong></li>
            <li><strong>Olivier Blanc, co-directeur, Réseau Ecole et Nature</strong></li>
            <li><strong>Laure Verhaeghe, directrice générale et co-fondatrice de Lendosphère, première plateforme de financement participatif dédiée à la transition énergétique et écologique</strong></li>
            <li><strong>Philippe Collet, fondateur de A2H, société spécialisée dans le conseil en tourisme et loisir pêche, l’aménagement et la gestion des plans et des cours d’eau</strong></li>
            <li><strong>Pierre Monatte, organisateur du Rise festival, festival cinématographique dédié à la pêche à la mouche</strong></li>
          </ul>

          <p> Vous voulez nous soutenir : envoyez nous un mail à contact@au-bord-de-leau.org </p>

          <p>Nous suivre sur facebook :</p>
          <div class="fb-like" data-href="https://www.facebook.com/auborddeleau.org/?fref=ts" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

          <p>Nous suivre sur twitter :</p>
          <a class="twitter-follow-button"
            href="https://twitter.com/au_bord_deleau"
            data-show-count="false">
            Follow @TwitterDev
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

