<div class="wrapper-grey">
  <div class="container">
    <div class="text-pages">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title-page text-center"> Nos soutiens </h1>
          <p class="text-justify">Liste de nos soutiens</p>

          <ul>
            <li><strong>Nicole Alix, présidente, La coop des communs</strong></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <p>Nous suivre sur facebook :</p>
          <div class="fb-like" data-href="https://www.facebook.com/auborddeleau.org/?fref=ts" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

          <p>Nous suivre sur twitter :</p>
          <a class="twitter-follow-button"
            href="https://twitter.com/au_bord_deleau"
            data-show-count="false">
            Follow @TwitterDev
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

